<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript">
        function CalculateMarks() {
            marks1 = parseFloat(document.getElementById('marks1').value)
            marks2 = parseFloat(document.getElementById('marks2').value)
            marks3 = parseFloat(document.getElementById('marks3').value)
            marks4 = parseFloat(document.getElementById('marks4').value)
            var nonNaN = 4
            if (Number.isNaN(marks1)) {
                marks1 = 0
                nonNaN--;
            }
            if (Number.isNaN(marks2)) {
                marks2 = 0
                nonNaN--;
            }
            if (Number.isNaN(marks3)) {
                marks3 = 0
                nonNaN--
            }
            if (Number.isNaN(marks4)) {
                marks4 = 0
                nonNaN--
            }
            if (marks1 > 100 || marks1 < 0) {
                alert("Invalid Entry !")
                document.getElementById('marks1').value = 0
                marks1 = 0
            }
            if (marks2 > 100 || marks2 < 0) {
                alert("Invalid Entry !")
                document.getElementById('marks2').value = 0
                marks2 = 0
            }
            if (marks3 > 100 || marks3 < 0) {
                alert("Invalid Entry !")
                document.getElementById('marks3').value = 0
                marks3 = 0
            }
            if (marks4 > 100 || marks4 < 0) {
                alert("Invalid Entry !")
                document.getElementById('marks4').value = 0
                marks4 = 0
            }
            var avg = (marks1 + marks2 + marks3 + marks4) / nonNaN
            document.getElementById('avg').innerHTML = avg + " %";
            if (avg <= 35) {
                document.getElementById('avg').style.color = '#dc3545'
            } else if (avg > 35 && avg < 75)
                document.getElementById('avg').style.color = '#ffc107'
            else if (avg >= 75 && avg < 85)
                document.getElementById('avg').style.color = 'yellowgreen'
            else if (avg >= 85 && avg < 100)
                document.getElementById('avg').style.color = '#28a745'
            else document.getElementById('avg').style.color = 'black'

        }
    </script>
    <style>
        * {
            font-family: poppins;
            outline: none;
        }
        
         ::placeholder {
            color: darkgray;
            opacity: 1;
        }
        
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Apply for Guide Allocation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body style="background-color: aliceblue;" onload="CalculateMarks()">

    <div class="wrapper" style="width: 100%;">
        <!--Represents whole screen-->
        <div class="row float-left col-md-4 col-sm-12 pt-3" style="overflow: hidden; background-image : url(/stylesheets/Left_Div.jpg);background-repeat:no-repeat ;background-size:cover; height: 100%;">
            <!--Represents Side Screen-->
            <div class="col-md-12 col-12 mt-3">
                <!--Represents Teachers Form-->
                <center>
                    <form method="POST" action="/admin" style="margin-bottom: 75%;">
                        <strong><p class="col-auto col-lg-12 col-sm-12" style=" color: aliceblue; font-size:larger; margin-left: -4%;">For Teachers.</p></strong>
                        <input required name='code' type="name" class='p-2 bg-transparent' style="color: white; border: 0px transparent solid; border-bottom: 4px solid whitesmoke ;" title="Only be used if Code is provided by College." placeholder="Enter Your Teacher Code Here.">
                        <center><button type="button" class="btn btn-warning border-warning col-sm-6 mt-3 ml-2 " style="color: #212529;">Login</button></center>
                        <center><button type="button" class="d-block d-sm-none btn btn-primary border-primary col-sm-6 mt-4 ml-2" style="color: aliceblue;"><a href="#stu" style="text-decoration: none; color: aliceblue;"> Registration for Students</a></button></center>
                    </form>
                </center>
                <p><strong class="col-lg-12 " style="font-size: x-large; color: antiquewhite;">GUIDE ALLOCATOR</strong></p>
                <strong class="col-lg-12 " style="font-size:large; color: antiquewhite;  margin-left: 0%;">An Interactive Solution<br><span style="margin-left: 4%;">for Allocation of Guides.</span></strong>
                <br><br><br><br>
            </div>
        </div>
        <div class="row float-left col-md-8 col-sm-12 pt-2 ml-md-2" style="height: 200%; overflow: hidden; display: flex;">
            <div class="col-12 pt-5" id="stu">
                <center>
                    <p style="font-size: xx-large;">Request <span style="color: gold;">Guides</span> in few clicks.</p>
                </center>
            </div>
            <div class="col-12 pt-3">
                <center>
                    <form method="POST" action="/validate" style="margin-bottom: 5%;">
                        <input required name="er_first" class="col-md-5 col-sm-10 bg-transparent float-left ml-md-4 mt-3" type="number" style="border: none; border-bottom: 4px solid darkgrey;" placeholder="Enrollment Number of First Member">
                        <input required name='first' class="col-md-5 col-sm-10 bg-transparent float-left ml-md-4 mt-3" type="number" style="border: none; border-bottom: 4px solid darkgrey;" placeholder="Average Of First Member" step="0.01" id="marks1" onchange="CalculateMarks()"
                            onkeyup="CalculateMarks()">
                        <input required name="er_second" class="col-md-5 col-sm-10 bg-transparent float-left ml-md-4 mt-3" type="number" style="border: none; border-bottom: 4px solid darkgrey;" placeholder="Enrollment Number of Second Member">
                        <input required name='second' class="col-md-5 col-sm-10 bg-transparent float-left ml-md-4 mt-3" type="number" style="border: none; border-bottom: 4px solid darkgrey;" placeholder="Average Of Second Member" step="0.01" id="marks2" onchange="CalculateMarks()"
                            onkeyup="CalculateMarks()">
                        <input required name="er_third" class="col-md-5 col-sm-10 bg-transparent float-left ml-md-4 mt-3" type="number" style="border: none; border-bottom: 4px solid darkgrey;" placeholder="Enrollment Number of Third Member">
                        <input required name='third' class="col-md-5 col-sm-10 bg-transparent float-left ml-md-4 mt-3" type="number" style="border: none; border-bottom: 4px solid darkgrey;" placeholder="Average Of Third Member" step="0.01" id="marks3" onchange="CalculateMarks()"
                            onkeyup="CalculateMarks()">
                        <input required name="er_fourth" class="col-md-5 col-sm-10 bg-transparent float-left ml-md-4 mt-3" type="number" style="border: none; border-bottom: 4px solid darkgrey;" placeholder="Enrollment Number of Four Member">
                        <input required name='fourth' class="col-md-5 col-sm-10 bg-transparent float-left ml-md-4 mt-3" type="number" style="border: none; border-bottom: 4px solid darkgrey;" placeholder="Average Of Four Member" step="0.01" id="marks4" onchange="CalculateMarks()"
                            onkeyup="CalculateMarks()">
                        <button type="submit" class="col-md-3 col-sm-12 btn btn-primary mt-3">Request for Guide.</button>
                        <p class=""></p><span style="color: #007BFF;">Average</span> of your group is <span style="border: 1px solid black;" class="p-1" id='avg'>00%</span></p>
                        <p>Need any <span style="color: #007BFF;"><a href="/Help.html">help?</a></span></p>
                        <br><br><br><br><br>
                    </form>
                </center>
            </div>
        </div>
    </div>
</body>

</html>
